<footer class="footer" style="align-self: baseline;">
    
<div class="ht-xl"></div>
<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid pd-lr-2">
        <a class="navbar-brand" href="/">Random TestCase Generator</a>
        <div class="navbar-nav d-flex flex-row-reverse">
            <a class="nav-link mx-5" aria-current="page" href="/">Home</a>
            <a class="nav-link mx-5" href="/tree">Tree</a>
            <a class="nav-link mx-5" href="/string">String</a>
            <a class="nav-link mx-5" href="/matrix">Matrix</a>
            <a class="nav-link mx-5" href="/array">Array</a>
        </div>
    </div>
</nav> -->
<nav class="container-fluid bg-dark">
    <div class="row" style="padding: 20px; color: whitesmoke">
        <div class="col-md-5">
            <h6>
                <span class="">  </span>
            </h6>
        </div>
        <div class="container">
            <form method="post" action="/suggestion" >
                <div class="input-group" style="width: 60%;margin: auto;">
                    <input
                        class="form-control"
                        id="suggestion"
                        name="suggestion"
                        placeholder="Your Suggestions are Welcome !"
						
                    ></input>
					<button
                            type="submit"
                            class="btn btn-dark"
                        >
                            Send!
                        </button>
                </div>
            </form>
            <h5 class="mt-3 ">or</h5>
			<button class="btn btn-dark" onclick="location.href='mailto:random.tc.generator@gmail.com';"> Email me at random.tc.generator@gmail.com!</button>
        </div>
    </div>
</nav>

<!-- credits: https://www.codeply.com/p/EJd6H4Ejyi -->
