<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid pd-lr-2">
        <a class="navbar-brand" href="/">Random TestCase Generator</a>
        <div class="navbar-nav d-flex flex-row-reverse">
            <a class="nav-link mx-5" href="/tree" >Tree</a>
            <a class="nav-link mx-5" href="/string">String</a>
            <a class="nav-link mx-5" href="/matrix">Matrix</a>
            <a class="nav-link mx-5" href="/array">Array</a>
        </div>
    </div>
	
</nav>
<div class="ht-xl"></div>
