<%- include('partials/header'); %>
<%- include('partials/navbar'); %>

<div class="ht-xl"></div>

    <div class="container-c container">
        <p class="hd display-2"><strong>Random TestCase Generator </strong></p>
        <hr>
        <br>
        <p class="hd2 h5">A Testcase Generator which does not require any kind of installation and can be used in : 
            <ul > 
                <li>Competitive Programming</li>
                <li>Online Judges</li>
                <li>Testing and Debugging</li>
            </ul>
        </p>
        <br>
        <p class="hd2 h5">Generate testcases for : 
            <ul>
                <li><a href="/array">Array</a></li>
                <li><a href="/matrix">Matrix</a></li>
                <li><a href="/string">String</a></li>
                <li><a href="/tree">Tree</a></li>
            </ul>
        </p>
        
    </div>
    
<%- include('partials/footer'); %>

