<%- include('partials/header'); %>
<body style="background-color: #bdcfb5; text-align: center">
    <%- include('partials/navbar'); %>
    <h1 class="container-c">THANKYOU FOR YOUR SUGGESTION! ^-^</h1>
</body>
<%- include('partials/footer'); %>